<!doctype html>
<html>
  <head>
    {% block head %}
    <meta name="hostBaseUrl" content="{{request.atlassian_host}}"/>
    <meta name="localBaseUrl" content="{{request.atlassian_client}}"/>
    <meta name="userAccountId" content="{{request.atlassian_account_id}}"/>
    <meta name="token" content="{{request.atlassian_session_token}}"/>
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="ac-content">
      {% block content %}
      {% endblock %}
    </div>
    {% endblock %}
  </body>
</html>

